


<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- ===== Iconscout CSS ===== -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="style.css">
             
        <!--<title>Login & Registration Form</title>-->
    </head>
    <body>
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<div id="message">
    {% if messages %}
{% for message in messages %}
{% if message.tags == 'error'%}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% else %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>

{% endif %}				
{% endfor %}
{% endif %}
</div>
        
        <div class="container">
            <div class="forms">
                <div class="form login">
                    
                    <span class="title">Login</span>
                    {% block content %}
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="input-field">
                            <input type="text" placeholder="Enter your email" {{form.email}} required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Enter your password" {{form.password}} required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
    
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="logCheck">
                                <label for="logCheck" class="text">Remember me</label>
                            </div>
                            
                            <a href="#" class="text">Forgot password?</a>
                        </div>
                    <form action="#">       <!--login action-->
                        <div class="input-field button">
                            <button type="submit" class="button"><b>Login</b></button><br>
                        </div>
                    </form>

                    </form>
                  
                    {% endblock %}
                    <div class="login-signup">
                        <span class="text">Not a member?
                            <a href="{% url 'signup' %}" class="text signup-link">Signup Now</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </body>
    </html>
   